:root {
  --bgImage: url('https://source.unsplash.com/random/1920×1080?nature'),
    url('./images/bg2.webp');
  --headingColor: white;
  --titleColor: white;
  --buttonBg: rgba(0, 0, 0, 0.6);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  min-height: 100vh;
  background: var(--bgImage);
  background-repeat: no-repeat;
  display: flex;
  color: var(--headingColor);
  background-size: cover;
  flex-direction: column;
  overflow-x: hidden;
}
header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  height: 250px;
}
.searchField {
  width: 55rem;
  padding: 1.2rem 3.5rem;
  backdrop-filter: blur(5px);
  background: var(--buttonBg);
  color: white;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 3rem;
}
@media screen and (max-width: 1025px) {
  .searchField {
    width: 100%;
  }
}

section {
  max-width: 100%;
  width: fit-content;
  margin: 0 auto;
}
h1 {
  font-size: 1.5rem;
  padding: 2rem 0;
}

.containerRow::-webkit-scrollbar {
  width: 0.1em;
  height: 0.5rem;
}

.containerRow::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

.containerRow::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.buttonLink {
  text-decoration: none;
  display: block;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 1.5rem;
}
.buttonLink:hover {
  box-shadow: 0px 3px 10px rgb(223 223 223/ 0.2);
  border-radius: 1.5rem;
}
.buttonContainer {
  padding: 1.5rem 1.5rem 0.75rem 1.5rem;
  width: fit-content;
  display: grid;
  place-items: center;
  width: auto;
  min-width: 200px;
  height: 200px;
  background: var(--buttonBg);
  border-radius: 1.5rem;
  backdrop-filter: blur(5px);
}
.buttonIcon {
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  color: white;
  width: 100px;
  height: auto;
}
.buttonTitle {
  text-align: center;
  font-size: 1.25rem;
  color: var(--headingColor);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.containerRow {
  padding: 1.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 250px;
  overflow-x: auto;
}
@media screen and (max-width: 1200px) {
  section,
  header {
    margin: 0 3rem;
  }
  .containerRow {
    height: 100%;
    flex-wrap: wrap;
  }
}
.containerGroup {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 1rem;
}
.containerGroup .buttonTitle {
  display: none;
}
.containerGroup .buttonIcon {
  width: 32px;
  height: auto;
}
.containerGroup .buttonContainer {
  min-width: 92px;
  width: 92px;
  height: 92px;
  padding: 1.5rem;
}
.searchFieldContainer {
  position: relative;
  border-radius: 3rem;
  /* align-self: center; */
}
.searchProviderContainer {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  z-index: 1;
}
.searchProvider {
  width: 1.7rem;
  height: 100%;
  object-fit: contain;
}
.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  height: 100%;
  padding: 0 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  display: flex;
}
.selected {
  margin: auto;
}
.option {
  font-size: 1rem;
  cursor: default;
  padding: 0.75rem;
  border-radius: 5%;
}
.option:hover {
  backdrop-filter: blur(5px);
  background: var(--buttonBg);
  border-radius: 5%;
}
.options {
  background: var(--buttonBg);
  border-radius: 5%;
  margin: 1rem 2rem;
  list-style: none;
  color: whitesmoke;
  position: absolute;
  right: 0;
  display: none;
}
.optActive {
  display: block;
}
.todoContainer {
  width: 300px;
  height: 100%;
  position: relative;
  backdrop-filter: blur(5px);
  background: var(--buttonBg);
  border-radius: 15px;
  margin: 10px;
  overflow: hidden;
}
#searchProviderForm {
  align-self: center;
}
.todoInput,
.todoSubmit {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1rem;
  padding: 10px 10px;
  border: 1px solid black;
  border: none;
  outline: none;
  color: whitesmoke;
}
.todoSubmit {
  z-index: 99;
}
.todoContainer li {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
}
.todoContainer p {
  display: block;
  height: auto;
  width: 70%;
  overflow-wrap: break-word;
}
ul::-webkit-scrollbar {
  width: 1px;
}
.todoContainer ul {
  overflow-y: scroll;
  height: 100%;
}
.todoContainer:first-child ul {
  height: 85%;
}
.todoContainer li button {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  display: block;
  border: none;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  color: white;
}
.todoContainer:last-child {
  margin-right: 25px;
}
.todoImage {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 12.5;
}
